[submodule "Assets/latkUnity"]
	path = Assets/latkUnity
	url = https://github.com/LightningArtist/latkUnity
[submodule "Assets/latkxARCore"]
	path = Assets/latkxARCore
	url = https://github.com/n1ckfg/latkxARCore
[submodule "Assets/latkxSpeechAndroid"]
	path = Assets/latkxSpeechAndroid
	url = https://github.com/n1ckfg/latkxSpeechAndroid
[submodule "Assets/latkxGDrive"]
	path = Assets/latkxGDrive
	url = https://github.com/n1ckfg/latkxGDrive
